---
apiVersion: v1
kind: Namespace
metadata:
  name: ceph-csi
---
apiVersion: v1
kind: Secret
metadata:
  name: csi-rbd-secret
  namespace: ceph-csi
stringData:
  userID: "{{ ceph_client_id }}"
  userKey: "{{ ceph_client_key }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: csi-cephfs-secret
  namespace: ceph-csi
stringData:
  adminID: "{{ ceph_client_id }}"
  adminKey: "{{ ceph_client_key }}"
