[Unit]
Description=Traefik v3 Reverse Proxy (Podman Rootless)
Documentation=https://doc.traefik.io/traefik/
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
WorkingDirectory=/home/{{ service_user_name }}/traefik
ExecStartPre=-/usr/bin/podman-compose down
ExecStart=/usr/bin/podman-compose up
ExecStop=/usr/bin/podman-compose down
Restart=always
RestartSec=10s
TimeoutSec=300

[Install]
WantedBy=default.target
